page {
  width: 100%;
  background: #f7f7f7;

  .base-page {
    box-sizing: border-box;
    width: 100%;
    background-color: #f5f5f5;
    padding: 20rpx;
  }

  .icon-class {
    width: 45rpx !important;
    height: 45rpx !important;
  }
}