.com-dropdown {
  width: 100%;
  height: 84rpx;
  box-sizing: border-box;
  padding: 0 20rpx;
  display: flex;
  align-items: center;

  .condition {
    box-sizing: border-box;
    width: 100%;
    height: 64rpx;
    border-radius: 30rpx;
    background: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 20rpx;
    position: relative;
  }

  .condition .option-list {
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 60rpx;
    z-index: 1;
    background: #f4f4f4;
    padding: 0rpx 20rpx;
    margin-top: 4rpx;
    border-radius: 10rpx;
    overflow-y: scroll
  }

  .option-list .list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20rpx;
    position: relative;
    color: #333;
    font-size: 26rpx;
    height: 60rpx;
  }

  .title {
    flex: 2;
  }

  .condition .select-condition {
    color: #333;
    color: #db1100;
    font-size: 26rpx;
  }

  .item-active {
    color: #db1100;
  }

  .icon::before {
    content: '';
    width: 6px;
    height: 1px;
    background-color: red;
    position: absolute;
    top: 50%;
    right: 4.5%;
    transform: translate(0%, -50%) rotate(45deg);
  }

  .icon::after {
    content: '';
    width: 11px;
    height: 1px;
    background-color: red;
    position: absolute;
    top: 45%;
    right: 2%;
    transform: translate(0%, -50%) rotate(-45deg);
  }

  .condition .trigger {
    width: 0;
    height: 0;
    border: 12rpx solid transparent;
    border-top: 15rpx solid #c2c2c2;
    position: relative;
    top: 8rpx;
    transform: rotate(0deg);
    transform-origin: center 7rpx;
    transition: transform 0.4s;
  }

  .condition .trigger.reverse {
    transform: rotate(180deg);
    transform-origin: center 7rpx;
    transition: transform 0.4s;
  }
}